/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 1, 2017, 7:27:13 PM
    Author     : Akash Dubey
*/
/*
/* Style The Dropdown Button */
.dropbtn {
    background-color: #ffe900;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {    
    position: fixed;    
    display: inline-block;
    margin-top:2%;
    margin-left:40%;
    z-index: 999;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: black;
    color:white;
}

                body{
                    padding: 0;
                    margin:0;
                    background-color:gray;
                    font-family: 'Verdana';
                }
		
                .container {

                }	

		#top-header {			
			position: fixed;			
			width: 100%;
			background-color: #61a38e;			
                         z-index: 999;
		}
                
                .form-box{
                        position: relative;
			float: left;
			display: block;			
			padding: 2%;
			margin: 1%;			
			width: 65%;
                        border: solid grey;			
		}
                
                
                #box1{
                    	background-color: #d8d8d8;
                        box-shadow: 10px 10px 5px black;
                }
                
                #box2 {
                    background-color: #d8d8d8;
                    box-shadow: 10px 10px 5px black;
                    
                }
                
                
                #box3 {
                    background-color: #d8d8d8;
                    box-shadow: 10px 10px 5px black;
                }
		#menu-bar{
                      z-index: 9999;
		}

                #menu-bar ul{
                    	 list-style-type: none;
                         margin: 0;
                         padding: 0;
                         overflow: hidden;
                         background-color: #ffe900;                    
                }
		#menu-bar li{
			float: left;
			padding: 2%;                        
		}

		#menu-bar li > a {			
                        display: inline-block;
                        color: white;
                        text-align: center;
                        padding: 14px 16px;
                        text-decoration: none;
		}

		#menu-bar li > a:link {			
                        color:black;

			
		}

		#menu-bar li > a:visited  {
			color:black;
			
		}

		#menu-bar  li > a:active  {
			color:black;			
			
		}
                
		#menu-bar li > a:hover {
			color:white;
                        background-color: black;
                        
		}
                
                #sidemenu{
                        position:fixed;			
			display: block;			
			padding: 0.5%;
			bottom: 0;
                        right: 0;
			width: 25%;			
                        background-color: #DCF7EE;                        
                        box-shadow: 10px 10px;
		}
                
                #sidemenu ul{
                    list-style-type: none;
                }
                #sidemenu li{
                        padding: 2%;
                }
                #sidemenu li > a {			
                        display: inline;
                        text-decoration: none;                    
		}

		#sidemenu li > a:hover {
			color:red;                                                
		}
                
                #menu-bar  li > a:active li > a:visited  {
			color:blue;						
		}
               
                table{
                    
                }
                th{
                    background-color: #4CAF50;
                    text-align: center;
                }
               tr  {
                   
                   padding:5px;
                    
                } 
               
                td {
                    
                    padding:10px;
                    
                }                
